body {
    background-color: dimgray;
    font-family: Arial;
    margin:0;
}

h1{
    color:brown;
    letter-spacing:2px;
    text-decoration: underline;
}

header{
    width:100%;
    background-color:white;
    border:1px dashed black;
    height:100px;
    padding:20px;
    color:black;
    text-align:center;
    font-weight:900;
}

nav{
    width:100%;
    background: darkorange;
    color:white;
    height:20px;
    padding:10px;
}

aside{
    width:300px;
    height:500px;
    background: rgb(247, 247, 200);
    float:left;
    padding:10px;
}
article{
    width:100px;
    float:left;
    background:darkorange;

}
section{
    background-color: rgb(231, 169, 93);
    padding:20px;

}

footer{
    clear:both;
    display:block;
    background:dimgray;
    text-align:center;
    padding:20px;
   /* height:300px;
    line-height:300px; */
}

img{
    max-width:100px;
}

.mypicture{
    max-width:300px;
    border:5px solid pink;
    border-radius: 50%;
    
}

div{
    background-color: hotpink;
    width: 300px;
    height: 300px;
    position: relative;
    top: 300px;
    right: 25px;
}
.yello{
    background: saddlebrown;
}
.green{
    background: rebeccapurple;
}
#myid{
    background: forestgreen;
}

button{
    background: floralwhite;
    padding: 2px 2px 2px 2px;
    border: 3px solid black;
    color: cadetblue;
    font-weight: bold;
    border-radius: 5px;
}