body {
    background-color: darkgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}

h1{
    color:aliceblue;
    letter-spacing: 2px;
    text-decoration: underline;
}

header{
    width: 100%;
    background-color: white;
    border: 1px dotted blueviolet;
    height: 100px;
    padding: 20px;
    color:white;
    text-align: center;
    font-weight: 900;


}

nav{
    width: 100%;
    background-color: azure;
    height: 20px;
    padding: 10px;

}

aside{
    width: 300px;
    height: 500px;
    background-color: black;
    color: azure;
    float: left;
}

article{
    width: 100px;
    float: left;
    background: greenyellow;
    margin: 20px;
}

section{
    background: darkgreen;
    padding: 20 px;
}

footer{
    clear: both;
    display: block;
    background: lightcoral;
    text-align: center;
    padding: 20 px;

}

img{
    max-width: 100%;
}

.mypicture{
    width: 100px;
    border:5px solid pink;
    border-radius: 50%;
}