table{
    border: 1px solid black;
    width: 50%;
    background: green;

}

td{
    border:1px solid black ;
    background: black;
    color: antiquewhite;

}

thead, tfoot{
    background: floralwhite;
    color: rgb(1, 20, 1);
    width: 100%;
}

.footie{
    background: aqua;
    color: black;
    top: 100px;;
    position: absolute;;
}